body, html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */ /* Hide overflow initially */
}

.container {
  width: calc(100% - 300px); /* Adjust width to leave space for fixed sidebar */
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; 
  margin-left: 300px; /* Offset for fixed sidebar */
}


@media (max-width: 768px) {
  .container {
      width: 100%; /* Full width on smaller screens */
      margin-left: 0; /* No offset for fixed sidebar */
  }
}

main {
  flex: 0;
  padding: 10px;
}

.sidebar {
  position: fixed;
  z-index: 3;
  background: #e7fefb;
  color: #000000;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .sidebar {
      transition: all 0.5s;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      position: fixed;
      z-index: 3;
  }
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.footer {
  color: #333333;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
  text-decoration: none; /* Remove underline from links */
  position: relative;
}

.link:hover {
  background: #d0e7f8;
  transition: all 0.5s;
  text-decoration: none;
}

.active {
  background: #cde5f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar .link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #1990aa;
}

.link_text {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.2;
  color: #1990aa;
}

.icon {
  color: #1990aa;
  font-size: 20px;
}

.custom-scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none; /* WebKit */
}
