.project-card {
    width: 230px;
    border-radius: 20px;
    background: #1b233d;
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card .project-top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
  }
  
  .project-card .project-top-section .project-border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
  }
  
  .project-card .project-top-section .project-border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .project-card .project-top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .project-card .project-top-section .project-icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .project-card .project-top-section .project-icons .project-logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
  }
  
  .project-card .project-top-section .project-icons .project-logo .project-top-section {
    height: 100%;
  }
  
  .project-card .project-bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
  }
  
  .project-card .project-bottom-section .project-title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .project-card .project-bottom-section .project-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .project-card .project-bottom-section .project-row .project-item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
  }
  
  .project-card .project-bottom-section .project-row .project-item .project-big-text {
    font-size: 12px;
    display: block;
  }
  
  .project-card .project-bottom-section .project-row .project-item .project-regular-text {
    font-size: 9px;
  }
  
  .project-card .project-bottom-section .project-row .project-item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }
  
  .project-card .project-bottom-section .project-row.row2 .project-item {
    flex: 100%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
  }
  