.sidebar1 {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebar1Wrapper {
  padding: 20px;
}

.sidebar1List {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar1ListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar1Icon {
  margin-right: 15px;
}

.sidebar1Button {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebar1Hr {
  margin: 20px 0;
}

.sidebar1FriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Médias requêtes pour la réactivité */
@media (max-width: 768px) {
  .sidebar1 {
    flex: initial; /* Réinitialiser la propriété flex à sa valeur par défaut */
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
    position: static; /* Position statique pour ne pas coller en haut */
    top: auto; /* Réinitialiser la valeur top */
    overflow-y: visible; /* Pas de défilement sur les appareils mobiles */
    width: 100%; /* Sidebar prend toute la largeur sur les appareils mobiles */
  }

  .sidebar1Wrapper {
    padding: 10px; /* Ajustement de l'espacement interne */
  }

  .sidebar1ListItem {
    margin-bottom: 10px; /* Ajustement de l'espacement entre les éléments de la liste */
  }
  .sidebar1ListItemText{
    font-weight: 500;
  }

  .sidebar1Button {
    width: 100%; /* Les boutons occupent toute la largeur disponible */
  }
}
.postProfileImg {
  width: 40px; /* Ajustez la largeur de l'image selon vos besoins */
  height: 40px; /* Ajustez la hauteur de l'image selon vos besoins */
  border-radius: 50%;
  margin-right: 10px;
  max-width: 100%; /* Rendre l'image responsive */
  height: auto; /* Assurer la proportionnalité */
}
